@media(max-width: 768px){
    .wrapper{
    background-color:#fa3bae;
    }

    .left-pane{
        display:block;
    }

    .right-pane{
        display:block;
        vertical-align: top;
    }


}



/*@media(min-width: 1024px){
    .wrapper{
        width: 1280px;
        margin: 0 auto;
        background-color:#FFCCFF;
        padding: 5px;
        
        }
    .left-pane{
        display:inline-block;
        width:40%;
    }

    .right-pane{
        display:inline-block;
        width:60%;
        float:right;
        margin-top:30px;
        vertical-align: top;
    }

}*/