body{
    font-family:'latolight',Tahoma, Geneva, sans-serif;
    color:black;
    font-size:14px;
    /* background:#E8E8E8; */
}
 
a{
    font-family:'latoregular',Tahoma, Geneva, sans-serif;
    color:#ff69b4;
    text-decoration: underline; 
}
 
h1{
    font-family: 'latobold',Tahoma, Geneva, sans-serif;
    font-size:36px;
    color:#9933CC;
  
}
 
h2{
    font-family: 'latosemibold',Tahoma, Geneva, sans-serif;
    font-size:31px;
    color:#9933CC;
}
 
h3{
    font-family: 'latosemibold',Tahoma, Geneva, sans-serif;
    font-size:27px;
    color:#9933CC;
  
}
 
h4{
    font-family: 'latosemibold',Tahoma, Geneva, sans-serif;
    font-size:24px;
    color:#9933CC;
}
 
h5{
    font-family: 'latosemibold',Tahoma, Geneva, sans-serif;
    font-size:21px;
    color:#9933CC;
}
 
h6{
    font-family: 'latosemibold',Tahoma, Geneva, sans-serif;
    font-size:18px;
    color:#9933CC;
}
 
 
ul{
    font-family:'latolight',Tahoma, Geneva, sans-serif;
    color:black;
    font-size:14px;
    background:#E8E8E8; 
}
 
ol{
    font-family:'latolight',Tahoma, Geneva, sans-serif;
    color:black;
    font-size:14px;
    background:#E8E8E8;
}

.btn{
    font-family:'latolight',Tahoma, Geneva, sans-serif;
    background-color:#ff69b4;
	color:#000000;
    font-size:18px;
    text-decoration:none;
	width:150px;    
}